

    /* Background da aplicação*/

.root {
     -fx-background-color: linear-gradient(#fcfcfc 0%, #f7f7f7 25%, #f7f7f7 75%, #fcfcfc 100%);
}

    /* Configuração de todos os botões */

.button {
    -fx-background-radius: 100%;
}

    /* Botões numéricos */

.numbers {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.numbers:hover {
    -fx-background-color: #dddddd;
}

    /* Botões operadores */

.operators {
    -fx-background-color: #ff9f19;
    -fx-text-fill: white;
}

.operators:hover {
    -fx-background-color: #d18112;
}

    /* Botão igual */

#equal {
    -fx-background-color: #ffb518;
}

#equal:hover {
    -fx-background-color: #cc9012;
}
