
    /* #main refers BorderPane */

    /* The background the program */

#main{
    -fx-background-color: #303030;
}

    /* Botões de números */

.button{
    -fx-text-fill: white;
    -fx-background-color: #3B3D3B;
}

    /* Botões operadores */

.operators{
    -fx-background-color: #333433;
}

    /* Botão igual */

#equal{
    -fx-background-color: #D43B03;
}

    /* Configuração do Text Field */

.text-field{
    -fx-text-fill: #F4E003;
    -fx-background-color: #616161;
}